@media screen and (max-width: 1075px)
{
    .menu{
        display: none;
    }
    .navbar{
        position: relative;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 40px;
    }
    .headline{
        flex: 100%;
        margin: 2%;
        text-align: center;
    }
    .headline p{
        text-align: center;
    }
    .clique_aqui{
        display: none;
    }
    .img-headline{
        flex: 100%;
        margin: 0;
    }
    .card{
        width: 100%;
    }
}